<style>
body {
  border: 0px;
  padding: 0px;
  width: 400px;
}
iframe {
  border: 0px;
  display:none;
}
</style>
<body onload="populate_iframe()">
<div id='configure_me'>
  <h3>Welcome to Poche</h3>
  <b>please setup the extension by going in the Options menu.</b>
</div>
<iframe id='source' width='400' height='420'></iframe>  
<script type="text/javascript" src="../fancy-settings/lib/store.js"></script>
<script type="text/javascript" src="../js/popup.js"></script>
</body>
